<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <title>instagram</title>
</head>
<body>

  <div class="container_left">
    <div class="row">
      <div class="main-images col-xs-6">
        <img src="<%= asset_path "Instagram.png" %>">
      </div>

      <div class="container_right">
    　</div>

  </div>

</body>
</html>
